.App {
  text-align: center;
  height: 100vh;
  width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.box input {
  background-color: lightgray;
  padding: 8px;
  border: 0;
  border-radius: .3rem;
}

.box input:active {
  border: 0;
}

.box input::placeholder {
  font-size: 1rem;
}

/*.box button {*/
/*  background-color: lightgray;*/
/*  padding: 5px;*/
/*  border: 0;*/
/*  border-radius: .3rem;*/
/*}*/
